<div class="container-fluid">
  <div  class="form-group">
    <label class="col-md-3 control-label">Recipe Title: </label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="recipeTitle" [(ngModel)]= "testRecipe.recipeTitle" placeholder="name"/> 
   </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Ingredients:</label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="ingredients" [(ngModel)]= "testRecipe.ingredients" placeholder="name"/> 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Instructions</label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="instructions" [(ngModel)]= "testRecipe.instructions" placeholder="name"/> 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Calories:</label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="calories" [(ngModel)]= "testRecipe.calories" placeholder="name"/> 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Protein (g):</label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="protein" [(ngModel)]= "testRecipe.protein" placeholder="name"/> 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Fat (g):</label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="fat" [(ngModel)]= "testRecipe.fat" placeholder="name"/> 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Carbyhydrates (g):</label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="carbs" [(ngModel)]= "testRecipe.carbs" placeholder="name"/> 
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="form-group">
    <label class="col-md-3 control-label">Sugars (g):</label>
    <div class="col-md-9" style="Width:auto">
        <input class= "form-control" name="sugar" [(ngModel)]= "testRecipe.sugar" placeholder="name"/> 
    </div>
  </div>
</div>


<div class="form-group">
  <a href= "/myrecipes">
  <button type="submit" allign="center" (click)= "createRecipe()" ><span>Submit</span></button></a>
</div>



